#gameboard {
margin: 0 auto;
outline: solid black;
height: 600px;
width: 600px;
}

#colorTable {
  margin: 0 auto;
  margin-top: 10px;
  outline: solid black;
  height: 50px;
  width: 300px;
}

td {
  outline: solid black;
  height: 100px;
  width: 100px; 
}

.player1color {
  background-color: red !important;
}
.player2color {
  background-color: blue !important;
}


#resetboard {
  margin: 0 auto;
  padding-left: 240px;
  padding-top: 20px;
  display: inline-block;
}
#resetgame {
  margin: 0 auto;
  padding-left: 240px;
  padding-top: 20px;
  display: inline-block;
}
#reset {
  margin: 0 auto;
  padding-left: 240px;
  padding-top: 20px;
  display: inline-block;
}


button {
  height: 75px;
  width: 150px;
  margin: 0 auto;
}

#player1score {
  display: inline-block;
  float: left;
}

#player2score {
  display: inline-block;
  float: right;
}

.player1move {
  background-color: aqua;
}

.player2move {
  background-color: gold;
}

.redClass {
  background-color: red;
}

.orangeClass {
  background-color: orange;
}

.yellowClass {
  background-color: yellow;
}

.yellowgreenClass {
  background-color: yellowgreen;
}

.greenClass {
  background-color: green;
}

.bluegreenClass {
  background-color: darkcyan;
}

.blueClass {
  background-color: blue;
}

.purpleClass {
  background-color: purple;
}

.pinkClass {
  background-color: pink;
}

.violetClass {
  background-color: violet;
}