body {
  background-image: url("https://www.muralswallpaper.com/app/uploads/white-green-marble-textures-plain.jpg");
  font-family: 'Gloria Hallelujah', sans-serif;
}

button {
  font-family: 'Gloria Hallelujah', sans-serif;
}
#score1 {
  font-size: 50px;
  display: inline-block;
  float: left;
  margin-top: 50px;
  text-align: left;
  min-width: 100px;
}

#turn1 {
  margin-top: 20px;
  font-size: 50px;
  float: left;
  text-align: left;
  min-width: 500px;
}
#turn2 {
  margin-top: 20px;
  font-size: 50px;
  float: right;
  text-align: right;
  min-width: 500px;
}

#colorPick{
  text-align: center;
}

#score2 {
  margin-top: 50px;
  font-size: 50px;
  display: inline-block;
  float: right;
  text-align: right;
  min-width: 100px;
}

header {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 50px;
}


#tieScore {
  text-align: center;
  font-size: 30px;
}


#gameboard {
margin: 0 auto;
outline: solid black;
height: 600px;
width: 600px;
}

#colorTable {
  margin: 0 auto;
  margin-top: 10px;
  outline: solid black;
  height: 50px;
  width: 300px;
  
}
.table1cell{
  border-radius: 50px;
}



td {
  outline: solid black;
  height: 100px;
  width: 100px; 
}

/* .player1color {
  background-color: red;
}
.player2color {
  background-color: blue;
} */
#tieGame {
  text-align: center;
  font-size: 30px;
}
#resetboard {
  margin: 0 auto;
  padding-left: 240px;
  padding-top: 20px;
  display: inline-block;
}
#resetgame {
  margin: 0 auto;
  padding-left: 240px;
  padding-top: 20px;
  display: inline-block;
}
#reset {
  margin: 0 auto;
  padding-left: 240px;
  padding-top: 20px;
  display: inline-block;
}


button {
  height: 75px;
  width: 150px;
  margin: 0 auto;
  border-radius: 50px;
  outline: none;
}

#player1score {
  display: inline-block;
  float: left;
  font-size: 30px;
}

#player2score {
  display: inline-block;
  float: right;
  font-size: 30px;
}

button:focus, button:active {
  border: none;
  box-shadow: none;

}

.redClass {
  background-color: red;
}

.orangeClass {
  background-color: orange;
}

.yellowClass {
  background-color: yellow;
}

.yellowgreenClass {
  background-color: yellowgreen;
}

.greenClass {
  background-color: green;
}

.bluegreenClass {
  background-color: darkcyan;
}

.blueClass {
  background-color: blue;
}

.purpleClass {
  background-color: purple;
}

.pinkClass {
  background-color: pink;
}

.violetClass {
  background-color: violet;
}